.home,
.seet-lab {
  position: absolute;
  display: inline-block;
}

.seet-lab {
  top: 0;
  left: 836px;
  font-size: var(--font-size-29xl);
  width: 249px;
  height: 122px;
}

.home {
  top: 362px;
  left: 1723px;
  width: 158px;
  height: 47px;
  cursor: pointer;
}

.Header {
  margin: 0;
  font-size: var(--font-size-29xl);
}

.blank-line {
  margin: 0;
  font-weight: 600;
}

.Header-container {
  position: absolute;
  top: 131px;
  left: 46px;
  display: inline-block;
  width: 613px;
  height: 220px;
}

.image-2-icon {
  position: absolute;
  top: 124px;
  left: 1406px;
  width: 475px;
  height: 135px;
  object-fit: cover;
}

.desktop-4-child {
  position: absolute;
  top: 342.9px;
  left: 0;
  width: 1916px;
  height: 11.1px;
}

.Name-tag {
  position: absolute;
  top: 375px;
  left: 46px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  width: 718px;
  height: 58px;
}

.desktop-4-item {
  position: absolute;
  top: 446px;
  left: 29px;
  background-color: #d9d9d9;
  width: 1813px;
  height: 612px;
  overflow: auto; /* Add overflow property to enable scrolling */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.sweet-water-fortwayne {
  margin: 0;
}

.sweet-water-fortwayne-container {
  position: absolute;
  top: 463px;
  left: 51px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  white-space: pre-wrap;
  width: 1778px;
  height: 741px;
}

.desktop-4 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1181px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}

.form-group{
    position: relative;
    Z-index : 100 ;
}


.register{
    position: relative;
    Z-index : 100;
}

.login_form{
  position: relative;
  Z-index : 100;
}

.Schedule{
  position: relative;
  Z-index : 100;
}


.cancel_app{
  position: relative;
  Z-index : 100;
}



.button{
  position : relative;
  width: 220px;
  height: 50px;
  background-color:cadetblue;
}


.input{
  position: relative;
  width: 220px;
  height: 15px;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
  
}

.login-new-user{
  position: relative;
  width: 220px;
  height: 15px;
  border-radius: 15px;
  padding: 15px;
  margin: 15px;
}

.Links_Jesus{
  z-index: 100;
  position: relative;
}